@font-face {
    font-family: roboto;
    src: url(../font/roboto/Roboto-Regular.ttf);
}

* { box-sizing:border-box }

body {
    font-family: roboto;
    overflow: hidden;
    background-color: #e7e9e9;
    color: #441f0b;
}

/* login page */

.loginBtn {
    cursor: pointer;
}


button {
    cursor: pointer;
}

.form-container {
    position: absolute;
    right: 0;
    margin: 3%;
    width: 45%;
    height: 50%;
    background-color: aliceblue;
    display: none;
}

.inputCollectionName {
    cursor: text;    
}

.collections-container {
    position: absolute;
    left: 0;
    margin: 3%;
    padding: 4px;
    width: 45%;
    background-color: #e8cba8;
    color: #441f0b;
    border-radius: 4px;
}

.box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.box-collection-name {
    background-color: #cbe1ff;
    margin: 0;
}

.box-collection-item:hover {
    background-color: #c98345;
}

.create_collection_link {
    position: absolute;
    top: 7px;
    right: 4px;
    border-radius: 4px;
}

.create_collection_link:hover {
    cursor: pointer;
}

#editor {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.button-nav {
    padding: 7px;
    color: #441f0b;
    background-color: #e8cba8;
    border: 1px solid gainsboro;
    text-decoration: none;
}

.button-nav:hover {
    color: #441f0b;
    background-color: #c98345;
}

.button-home {
    position: absolute;
    top: 7px;
    border-radius: 4px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #e8cba8;
    text-align: right;
    padding: 5px;
    background-color: #e8cba8;
    min-height: 40px;
}
