<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{baseURL}}/static/css/cubiAdmin.css">
    <link rel="stylesheet" href="{{baseURL}}/static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="{{baseURL}}/static/favicon.ico"/>
</head>
<body>

<a class="button-nav button-home" href="/">Accueil</a>

<div style="display: flex; justify-content: space-around; top: 50%;"><p>{{message}}</p></div>


<div class="footer">Made with <a href="https://github.com/Aqueuse/ours-agile-cubi">Cubi</a></div>

</body>
</html>